.reviews-container {
  margin-top: 4rem;
}

.reviews-title {
  display: flex;
  align-items: center;
}

.reviews-title-txt {
  font-size: 1.7rem;
  font-weight: 500;
}

.reviews-title-count {
  letter-spacing: 1.5px;
  font-size: 1.2rem;
  margin-left: 5px;
}

.no-review {
  font-size: 1.2rem;
  background-color: #2b2b2b;
  border-radius: .375rem;
  padding: 2.5rem;
  margin: 20px 0;
}



@media (max-width: 1024px) {
  .reviews-container {
    margin-top: 2rem;
  }

  .reviews-title-txt {
    font-size: 1rem;
  }

  .reviews-title-count {
    letter-spacing: 1.2px;
    font-size: .9rem;
    margin-left: 2px;
  }

  .no-review {
    font-size: .9rem;
    background-color: #2b2b2b;
    border-radius: .375rem;
    padding: 1.5rem;
    margin: 20px 0;
  }
}