.banner-container {
  overflow-x: hidden;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-wrapper::before {
  content: '';
  background: linear-gradient(to top, #141414, transparent);
  position: absolute;
  left: 0;
  height: inherit;
  width: 100%;
}

.item-info-area {
  position: absolute;
  width: 50%;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  line-height: 1.4;
  padding-left: 4rem;
}

.item-title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -.1rem;
  line-height: 1.1;
  margin-bottom: 1rem;
}

.banner-genres {
  display: none;
}

.banner-movie-genre {
  display: inline-block;
}

.banner-movie-genre + .banner-movie-genre::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #f15961;
  border-radius: 50%;
  margin: 3px 7px;
}

.item-desc {
  font-size: 1.2rem;
  width: 80%;
}

.read-more-btn {
  font-size: 1rem;
  font-weight: 800;
  position: relative;
  top: -1px;
  cursor: pointer;
  color: #a5a5a5;
  transition: all .3s;
}

.read-more-btn:hover {
  color: #535353;
}

.banner-btns {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.basic-btn {
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  cursor: pointer;
  border-radius: .375rem;
  transition: background-color .4s;
}

.basic-btn:hover {
  background-color: rgba(167, 167, 167, .6);
}

.btn-icon {
  font-size: 1.2rem;
  margin-right: 10px;
}

.detail-btn {
  background-color: rgba(109, 109, 110, .6);
  color: inherit;
}

.detail-btn-icon {
  font-size: 1.3rem;
}




/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 767px) {
  .item-info-area {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  .item-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: .5rem;
  }

  .banner-genres {
    font-size: 1rem;
    display: block;
    text-align: center;
  }

  .item-desc {
    display: none;
  }

  .banner-btns {
    flex-direction: column;
    gap: .5rem;
  }
  
  .basic-btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: .7rem;
    border-radius: .2rem;
  }

  .banner-btns .basic-btn .btn-icon {
    font-size: 1rem;
    margin-right: 7px;
  }
}

/********** 2. 태블릿 **********/
@media (min-width: 768px) and (max-width: 991px) {
  .item-info-area {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    top: auto;
    bottom: 0;
    transform: translateY(0);
  }

  .item-title {
    font-size: 2.5rem;
  }
  
  .item-desc {
    font-size: 1rem;
    width: 90%;
  }

  .basic-btn {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1.2rem;
    border-radius: .2rem;
  }

  .banner-btns .basic-btn .btn-icon {
    font-size: 1rem;
    margin-right: 7px;
  }

  .banner-btns > button {
    width: 100%;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .item-info-area {
    width: 100%;
  }

  .item-title {
    font-size: 3rem;
  }
}