.home-container {
  width: 100%;
}

.home-slides {
  margin: 4rem;
}




/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 767px) {
  .home-slides {
    margin: 1rem;
  }
}

/********** 2. 태블릿 **********/
@media (min-width: 768px) and (max-width: 991px) {
  .home-slides {
    margin: 1rem;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .home-slides {
    margin: 2rem;
  }
}