.loading-spinner-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-left-color: #fff;
  animation: spin 1s infinite linear;
  margin: 2rem auto;
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loading-msg {
  text-align: center;
}


@media (max-width: 991px) {
  .loading-spinner {
    width: 30px;
    height: 30px;
  }

  .loading-msg {
    display: none;
  }
}