[submodule "rock-paper-scissor"]
   path = rock-paper-scissor
	url = https://github.com/seongyurim/rock-paper-scissors-2024.git

[submodule "weather-app"]
   path = weather-app
   url = https://github.com/seongyurim/weather-app-2024.git

[submodule "shopping-router"]
   path = shopping-router
   url = https://github.com/seongyurim/shopping-router-2024.git