@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/********** index **********/

.my-container {
  max-width: 900px;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0 .5rem 0;
  cursor: pointer;
}

.title-icon {
  margin-left: 4px;
  width: 1.7rem;
}

.title-desc {
  cursor: default;
  color: #888;
  font-size: .85rem;
  text-align: center;
  margin-bottom: 3rem;
}

.row-gap {
  padding: 0 10px;
}

.form-area,
.list-area {
  border: 1px solid #dfdfdf;
  border-radius: .375rem;
  padding: 2rem;
}

footer {
  cursor: default;
  color: #888;
  font-size: .85rem;
  text-align: center;
  padding: 2rem 0;
}



/********** ContactForm **********/

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  /* Hide Number Spin Button at Chrome, Safari, Edge */
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: calc(100% - 40px);
  border: none;
  cursor: pointer;
  background-color: transparent;
}

input:focus {
  outline: none;
}

.contact-form-container .img-area {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.img-wrapper {
  position: relative;
}

.form-img {
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
}

.input-file {
  display: none;
}

.input-file-btn {
  position: absolute;
  right: 10px;
  bottom: 5px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.input-file-btn:hover {
  background-color: #424649;
}

.forms {
  position: relative;
  padding: 1rem .75rem;
  border-radius: inherit;
}

.form-name {
  border-radius: .375rem .375rem 0 0;
  margin-bottom: -1px;
}

.form-memo {
  border-radius: 0 0 .375rem .375rem;
  margin: -1px 0 1rem 0;
}

.forms.focus {
  z-index: 10;
  box-shadow: none;
  border: 1.5px solid #000;
  background-color: inherit !important;
}

.forms::before {
  margin: 0 10px 0 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #000;
}

.forms:nth-of-type(2)::before {
  content: "\f007";
}

.forms:nth-of-type(3)::before {
  content: "\f095";
}

.forms:nth-of-type(4)::before {
  content: "\f10d";
}

.forms::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #dfdfdf;
  pointer-events: none;
  z-index: 1;
  content: '';
  border-radius: inherit;
}

/* icon */
.forms.error::before {
  color: #ff3f3f;
}

/* border */
.forms.error::after {
  border: 1.5px solid #ff3f3f;
  border-radius: inherit;
  z-index: 40;
}

/* placeholder */
.forms.error input::placeholder {
  color: #ff3f3f;
  text-decoration: underline;
}

.msgs {
  font-size: 0.8rem;
  color: #ff3f3f;
}

.msg-desc {
  position: relative;
  padding-left: 13px;
}

.msg-desc::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #ff3f3f;
  content: '';
  margin-left: 5px;
}

.btn-add {
  width: 100%;
  padding: 1rem .75rem;
  margin-top: 1rem;
}



/********** SearchBox **********/

.search-form {
  border: 1px solid #dfdfdf;
  border-radius: .375rem !important;
  position: relative;
  border-radius: inherit;
  padding: 1rem .75rem;
  margin-bottom: 1rem;
}

.search-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.search-form.focus {
  border: 1.5px solid #000;
}



/********** SearchBox **********/

.total-count {
  text-align: center;
  margin: 1.5rem 0;
}



/********** ContactItem **********/

.contact-item-container {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.contact-item-container .img-area {
  margin-right: 20px;
}

.contact-item-container .delete-area {
  margin-left: auto;
}

.profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.info-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.info-memo {
  font-size: .9rem;
  color: #888;
  margin-top: .1rem;
}

.delete-btn {
  color: #fff;
  background-color: #000;
  font-size: .8rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.delete-btn:hover {
  color: #fff;
  background-color: #ff3f3f;
  border: none;
}