/* 1st: 타이틀 포함 */
.movie-slide-container {
  margin-top: 4rem;
  letter-spacing: -.006rem;
}

.slide-title {
  font-size: 1.5rem;
  font-weight: 500;
}

/* 2nd: 타이틀 아래 */
.carousel-container {
  padding-top: 20px;
  height: 400px;
  overflow: hidden;
}

/* 3rd: 카드 묶음 */
.slider-class {
  height: 95%;
}

/* 4th: 개별 카드 */
.item-class {
  padding-right: .5rem;
  box-sizing: border-box;
}




/********* Custom Dot Group **********/
.custom-dot-list-style {
  height: 20px;
  right: .7rem;
  top: 0;
  justify-content: end;
  z-index: 2;
}

.custom-dot-list-style > li > button {
  background-color: #4d4d4d;
  width: 14px;
  height: 2px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 0;
}

.custom-dot-list-style > .react-multi-carousel-dot--active > button {
  background-color: #aaa;
}




/********* Custom Arrow **********/
.carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  transition: all .3s ease;
}

.carousel-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
}

.carousel-container .react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: #fff;
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.carousel-container .react-multiple-carousel__arrow--left {
  left: 0;
}

.carousel-container .react-multiple-carousel__arrow--right {
  right: 0;
}

.react-multiple-carousel__arrow--left::before {
  content: '';
  position: absolute;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
}

.react-multiple-carousel__arrow--right::before {
  content: '';
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  border-right: 10px solid transparent;
}




/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (min-width: 0px) and (max-width: 464px) {
  .movie-slide-container {
    margin-top: 2rem;
  }

  .carousel-container {
    padding-top: 10px;
    height: 200px;
  }

  .slide-title {
    font-size: 1rem;
  }

  .custom-dot-list-style,
  .carousel-container .react-multiple-carousel__arrow,
  .carousel-container .react-multiple-carousel__arrow--left,
  .carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }
}




/********** 2. 작은 태블릿 및 대형 스마트폰 **********/
@media (min-width: 464px) and (max-width: 1024px) {
  .movie-slide-container {
    margin-top: 2rem;
  }
  
  .slide-title {
    font-size: 1.1rem;
  }

  .carousel-container {
    padding-top: 10px;
    height: 250px;
  }

  .custom-dot-list-style,
  .carousel-container .react-multiple-carousel__arrow,
  .carousel-container .react-multiple-carousel__arrow--left,
  .carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }
}

/********** 3. 데스크탑 **********/
@media (min-width: 1024px) and (max-width: 1500px) {
  .carousel-container {
    padding-top: 10px;
    height: 400px;
  }

  .slide-title {
    font-size: 1.3rem;
  }

  .custom-dot-list-style,
  .carousel-container .react-multiple-carousel__arrow,
  .carousel-container .react-multiple-carousel__arrow--left,
  .carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }
}