.movie-slide-container {
  margin: 3rem 0 4rem 4rem;
  letter-spacing: -.006rem;
}

.slide-title {
  font-size: 1.4vw;
  font-weight: 500;
}

.carousel-container {
  height: 380px;
  overflow-x: hidden;
  overflow-y: visible;
}

.carousel-item-padding-40-px {
  width: 100% !important;
  margin-right: 1rem;
}

.carousel-item-padding-40-px:hover {
  z-index: 10;
}