.movie-container {
  gap: 1rem;
  margin: 8rem 4rem 0 4rem;
  position: relative;
}

.movie-top {
  margin-bottom: 3rem;
}

.movie-top-info {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.results-area {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 6rem .5rem;
}

.movie-card {
  height: 520px;
}



/********* Paginate *********/

/* 전체 컨테이너 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}

/* 각 페이지 아이템 */
.page-item {
  cursor: pointer;
  background-color: #141414;
  border: none;
  border-radius: .2rem;
  padding: .5rem .7rem;
  background-color: transparent;
  transition: all .4s;
}

.page-item:hover {
  background-color: #505050;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: transparent;
}

.prev-btn,
.next-btn {
  width: 0;
  height: 0;
  border: none;
  position: relative;
}

/* 이전버튼, 다음버튼 삼각형 */
.prev-btn::before,
.next-btn::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid #fff;
  transition: all .4s;
}

.next-btn::before {
  border-right: 8px solid transparent;
  border-left: 8px solid #fff;
  transition: all .4s;
}

.page-item:hover.prev-btn::before {
  border-right: 8px solid #505050;
}

.page-item:hover.next-btn::before {
  border-left: 8px solid #505050;
}

.page-active {
  background-color: #fff;
  color: #141414;
  font-weight: 600;
}

.page-disabled {
  color: red;
}




/********** 2. 태블릿 **********/
@media (max-width: 991px) {
  .movie-container {
    margin: 4rem 1rem 0 1rem;
  }
  
  .movie-top {
    margin-bottom: 1rem;
  }

  .movie-top-info {
    font-size: 1.2rem;
    margin-bottom: .7rem;
  }

  .results-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 1rem .5rem;
  }

  .movie-card {
    height: 200px;
  }

  .pagination {
    margin-top: 2rem;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .movie-container {
    margin: 4rem 2rem 0 2rem;
  }

  .movie-card {
    height: 300px;
  }
}