.modal-container {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, .6);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: all .4s ease;
}

.modal-container.show {
  opacity: 1;
}

.modal-video-wrapper {
  width: 60vw;
  height: 60vh;
  background-color: #141414;
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 0 3rem #000;
  position: relative;
  opacity: 0;
  transform: scale(.8);
  transition: all .4s ease-in-out;
}

.modal-video-wrapper.show {
  opacity: 1;
  transform: scale(1);
}

.modal-close-btn {
  cursor: pointer;
  font-size: 3rem;
  position: absolute;
  right: -55px;
  top: 0;
  transition: all .4s ease;
}

.modal-close-btn:hover {
  color: #8a8a8a;
}

.youtube-frame {
  border-radius: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
}

.modal-error-wrapper {
  padding: 2.5rem;
  background-color: #313131;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  line-height: 1.4;
}

.modal-error-icon {
  font-size: 3rem;
}

.modal-error-txt {
  font-size: 1.2rem;
}




/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 767px) {
  .modal-video-wrapper {
    width: 100vw;
    height: 40vh;
  }

  .modal-close-btn {
    font-size: 1.5rem;
    right: 30px;
    top: -40px;
  }
}

/********** 2. 태블릿 **********/
@media (min-width: 768px) and (max-width: 991px) {
  .modal-video-wrapper {
    width: 80vw;
  }

  .modal-close-btn {
    font-size: 1.5rem;
    right: -35px;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .modal-video-wrapper {
    width: 80vw;
  }

  .modal-close-btn {
    font-size: 2rem;
    right: -40px;
  }
}