.movie-detail-banner-container {
  font-size: 1.2rem;
}

.detail-bg-wrapper {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-bg {
  position: relative;
  width: 100%;
  height: 85vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  filter: blur(40px);
}

.detail-bg::before {
  content: '';
  background: linear-gradient(to top, rgb(20, 20, 20) 0%, rgba(20, 20, 20, .5) 80%);
  position: absolute;
  left: 0;
  height: inherit;
  width: inherit;
}

.detail-article {
  margin-top: 2rem;
  width: 100%;
  position: absolute;
  box-sizing: border-box;
  padding: 4rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.detail-left-section {
  flex: 0 0 50%;
  line-height: 1.4;
}

.detail-title {
  line-height: 1.1;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.detail-tagline {
  color: #a5a5a5;
  line-height: 1.25;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.detail-overview {
  margin-bottom: 1rem;
}

.detail-badges-wrapper {
  display: flex;
  gap: .5rem;
  margin-bottom: 1rem;
}

.detail-badges {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  border-radius: .2rem;
  padding: .5rem .8rem;
  font-weight: inherit;
  line-height: 1;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, .4);
}

.detail-vote-average,
.detail-popularity {
  display: flex;
  align-items: center;
}

.detail-badges .star-icon,
.detail-badges .heart-icon {
  font-size: .85rem;
  vertical-align: center;
  color: gold;
  margin-right: 6px;
}

.detail-badges .heart-icon {
  color: rgb(252, 69, 63);
}

.detail-genre-box {
  margin-bottom: 2rem;
}

.detail-genre {
  display: inline-block;
}

.detail-genre + .detail-genre::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: rgb(167, 167, 167);
  border-radius: 50%;
  margin: 5px 7px;
}

.detail-poster {
  width: 400px;
  flex-shrink: 0;
  object-fit: cover;
  border-radius: .4rem;
}




@media (max-width: 991px) {
  .detail-bg-wrapper {
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
  }

  .detail-bg {
    filter: none;
    height: 40vh;
    position: relative;
  }

  .detail-bg::before {
    background: linear-gradient(to top, rgb(20, 20, 20) 0%, rgba(20, 20, 20, .1) 20%);
  }

  .detail-article {
    position: relative;
    display: block;
    margin: 0;
    padding: 1rem;
    left: auto;
    top: auto;
    transform: none;
    width: 100%;
  }

  .detail-left-section {
    display: flex;
    flex-direction: column;
  }
  
  .detail-title {
    order: 1;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: .5rem;
  }
  
  .detail-tagline {
    display: none;
  }
  
  .detail-badges-wrapper {
    order: 2;
    margin: .5rem 0 0 0;
  }

  .detail-badges {
    font-size: .75rem;
    padding: .25rem .4rem;
  }

  .detail-badges .star-icon,
  .detail-badges .heart-icon {
    font-size: .68rem;
    margin-right: 4px;
  }

  .detail-overview {
    order: 3;
    font-size: .9rem;
    line-height: 1.4;
    margin: .5rem 0 .5rem 0;
  }

  .detail-overview .read-more-btn {
    font-size: .85rem;
  }

  .detail-genre-box {
    order: 4;
    font-size: .9rem;
    margin-bottom: .7rem;
  }

  .detail-genre + .detail-genre::before {
    margin: 3px 7px;
    background-color: #f15961;
  }

  .detail-poster {
    display: none;
  }

  .detail-left-section .basic-btn.preview-btn {
    order: 5;
    width: 100%;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .7rem;
    border-radius: .2rem;
  }

  .detail-left-section .basic-btn.preview-btn .btn-icon {
    font-size: 1rem;
    margin-right: 7px;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .detail-article {
    padding: 2rem;
  }
}