body {
  font-size: 16px;
  color: #e2e2e2;
  background-color: #141414;
  overflow-x: hidden;
  word-break: keep-all;

  /* 드래그 방지 */
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}