.genre-slider-container {
  width: 100%;
}

.genre-carousel-container {
  padding-top: 15px;
  overflow: hidden;
}

.genre-item-class {
  padding: .25rem;
  overflow: visible;
  box-sizing: border-box;
}

.genre-badge {
  text-align: center;
  font-size: 1.2rem;
  background-color: #262626;
  padding: 1rem .5rem;
  border: 1px solid rgba(255, 255, 255, .15);
  border-radius: .375rem;
  transform: translateY(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.genre-badge:hover {
  background-color: #3f3f3f;
  transform: translateY(-10px);
}

.genre-badge.genre-active {
  color: #141414;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  transform: translateY(-10px);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0.2s, background-color 0.3s ease, color 0.3s ease;
}



/********* Custom Dot Group **********/
.genre-custom-dot-list-style {
  height: 14px;
  right: .25rem;
  top: -10px;
  justify-content: end;
  opacity: 0;
  transition: all .3s ease;
}

.genre-slider-container:hover .genre-custom-dot-list-style {
  opacity: 1;
}

.genre-custom-dot-list-style > li > button {
  background-color: #4d4d4d;
  width: 14px;
  height: 2px;
  margin: 0 0 0 3px;
  border: none;
  border-radius: 0;
}

.genre-custom-dot-list-style > .react-multi-carousel-dot--active > button {
  background-color: #aaa;
}



/********* Custom Arrow **********/
.genre-carousel-container .react-multiple-carousel__arrow {
  opacity: 0;
  transition: all .3s ease;
}

.genre-slider-container:hover .react-multiple-carousel__arrow {
  opacity: 1;
}

.genre-carousel-container .react-multiple-carousel__arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  color: #fff;
  width: 40px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
}

.genre-carousel-container .react-multiple-carousel__arrow--left {
  left: 0;
}

.genre-carousel-container .react-multiple-carousel__arrow--right {
  right: 0;
}




/********** 2. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 1024px) {
  .genre-carousel-container {
    padding-top: 0;
  }

  .genre-badge {
    font-size: 1rem;
    padding: .7rem 0;
    border-radius: .2rem;
  }

  .genre-custom-dot-list-style,
  .genre-carousel-container .react-multiple-carousel__arrow,
  .genre-carousel-container .react-multiple-carousel__arrow--left,
  .genre-carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }

  .genre-badge:hover {
    transform: translateY(0);
  }
  
  .genre-badge.genre-active {
    transform: translateY(0);
  }
}

/********** 3. 데스크탑 **********/
@media (min-width: 1024px) and (max-width: 1500px) {
  .genre-custom-dot-list-style,
  .genre-carousel-container .react-multiple-carousel__arrow,
  .genre-carousel-container .react-multiple-carousel__arrow--left,
  .genre-carousel-container .react-multiple-carousel__arrow--right {
    display: none;
  }

}
