.movie-bottom-info {
  margin: 0 4rem;
}

/********** 2. 태블릿 **********/
@media (max-width: 991px) {
  .movie-bottom-info {
    margin: 0 1rem;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .movie-bottom-info {
    margin: 0 2rem;
  }
}