.review-box-container {
  line-height: 1.4;
  background-color: #2b2b2b;
  border-radius: .375rem;
  padding: 2rem;
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
}

.review-author-img {
  flex-shrink: 0;
  flex-basis: 70px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.review-author-info {
  width: 150px;
  flex-basis: 150px;
  flex-shrink: 0;
}

.review-author-id {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: .3rem;
}

.review-rating {
  align-items: center;
  margin-top: .3rem;
  position: relative;
}

.star-wrapper {
  position: relative;
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.star-wrapper .star-icon {
  position: absolute;
  left: 0;
  top: 0;
}

.star-icon.full {
  color: gold;
}

.star-icon.empty {
  color: gray;
}

.star-icon.half {
  position: absolute;
  top: 0;
  left: 0;
  color: gold;
  z-index: 2;
  clip-path: inset(0 50% 0 0);
}

.reiview-rating-score {
  margin-left: 5px;
  line-height: 1em;
  vertical-align: middle;
  position: absolute;
  right: -16px;
  top: 2.3px;
}

.review-author-content {
  flex-basis: auto;
  flex-grow: 1;
}

.review-author-date {
  flex-basis: auto;
  flex-shrink: 0;
}

.review-created-at,
.review-updated-at {
  font-size: .95rem;
  color: #c8c8c8;
  text-align: end;
}

.review-date-desc {
  color: #878787;
  font-size: .9rem;
}

.review-author-date > div + div {
  margin-top: 5px;
}

.read-more-btn-review {
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  top: -1px;
  cursor: pointer;
  color: #868686;
  transition: all .3s;
  margin-top: 5px;
}

.read-more-btn-review:hover {
  color: #cacaca;
}

.read-more-btn-arrow {
  font-size: .88rem;
  margin-right: 3px;
}



/********** 1. 작은 태블릿 및 대형 스마트폰 **********/
@media (max-width: 767px) {
  .review-box-container {
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    align-items: center;
  }

  .review-author-img {
    flex-basis: 50px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .review-author-id {
    font-size: 1.1rem;
    margin-bottom: 0;
  }

  .star-wrapper {
    font-size: .9em;
    line-height: .9em;
    width: .9em;
    height: .9em;
  }

  .star-wrapper + .star-wrapper {
    margin-left: 3px;
  }
  
  .reiview-rating-score {
    margin-left: 5px;
    line-height: 1em;
    vertical-align: middle;
    position: absolute;
    right: -18px;
    top: 3.8px;
  }

  .review-author-content {
    font-size: .875rem;
    margin-top: .2rem;
  }
  
  .read-more-btn-review,
  .read-more-btn-arrow {
    font-size: .875rem;
  }

  .review-author-date {
    margin-left: auto;
  }

  .review-author-date > div + div {
    margin-top: 0;
  }

  .review-created-at,
  .review-updated-at {
    font-size: .8rem;
    text-align: end;
  }

  .review-date-desc {
    display: inline;
    font-size: .8rem;
    margin-right: 5px;
  }
}

/********** 2. 태블릿 **********/
@media (min-width: 768px) and (max-width: 991px) {
  .review-box-container {
    gap: 1rem;
  }
}

/********** 3. 작은 노트북 및 데스크탑 **********/
@media (min-width: 992px) and (max-width: 1199px) {
  .review-box-container {
    gap: 2rem;
  }
}